* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url(https://images.unsplash.com/photo-1546180055-761f3f495b3c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 92vh;
    margin: 0;
}

h1 {
    font-size: 4rem;
    margin-top: -5rem;
    font-weight: 400;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bigtext {
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
    font-weight: 600;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;
}